<title> List API Kelompok 4 3IF-02 </title>


<h3>API Admin <h3>
<h4> 1. Create http://159.89.194.18:3204/buku/add </h4>
<h4> 2. Update http://159.89.194.18:3204/edit/id </h4>
<h4> 3. Delete http://159.89.194.18:3204/drop/id </h4>

<h3>API User</h3>
<h4> 1. Melihat Semua Buku http://159.89.194.18:3204/buku/all </h4>
<h4> 2. Melihat Detail buku by ID http://159.89.194.18:3204/buku/caribuku/id </h4>
<h4> 3. Melihat buku berdasarkan judul http://159.89.194.18:3204/buku/:judul </h4>
<h4> 4. Melihat buku berdasarkan penulis http://159.89.194.18:3204/buku/writer/:penulis </h4>
<h4> 5. Melihat buku berdasarkan penerbit http://159.89.194.18:3204/buku/author/:penerbit </h4>
<h4> 6. Melihat buku berdasarkan tahun terbit http://159.89.194.18:3204/buku/published/:tahun_terbit </h4>

<h3>API Login dan Register</h3>
<h4> 1. Login http://159.89.194.18:3204</h4>
<h4> Email : ekki@yahoo.com Password : 111  Roles : Admin </h4> 
<h4> Token : eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwicm9sZXMiOiJhZG1pbiIsImlhdCI6MTU2MzUxMzYyNX0.RrOU04KALDNvyDHCGb-YJ_i7htEO6Lw2BYXwLzqQKs0 </h4> 
<h4> 2. Register http://159.89.194.18:3204 </h4>

